---
---
@import "{{ site.theme }}";

a:hover {
    font-weight: inherit; /* or 'normal' */
    text-decoration: underline; /* Optional: keep underline */
    color: #47975D
}
a {
  color: #47975D;
}

header.page-header {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  line-height: 0.1;
  background-image: linear-gradient(90deg, #F48322, #F04135);
}
.btn { /* Remove homepage button, and all buttons (we can survive without buttons) */
  display: none !important;
}
