---
---
@import "{{ site.theme }}";

a:hover {
    font-weight: inherit; /* or 'normal' */
    text-decoration: underline; /* Optional: keep underline */
    color: #47975D
}
a {
  color: #47975D;
}

td {
    vertical-align: top;
}
